@import url("config.css");

.entry-menu {
  align-items: center;
  background-color: var(--background2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40rem;
  z-index: 2;
}

.entry-menu > * {
  height: var(--header-bar-height);
  width: 100%;
}

.entry-menu > *:not(:last-child) {
  margin-bottom: 1rem;
}

.entry-menu > .horizontal {
  display: flex;
  justify-content: space-between;
}

.entry-menu > .horizontal > * {
  width: 100%;
}

.entry-menu > .horizontal > *:not(:last-child) {
  margin-right: 1rem;
}

.page-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
}
